* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

#catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin-bottom: 30px;
}

.product-card {
  border: 1px solid #000000;
}

#cart {
  border-radius: 8px;
  border: 1px solid #000000;
}

#cart ul {
  list-style: none;
  margin-top: 10px;
}

#cart li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}